<script type="text/javascript">
function toggleReplyForm(e) {
  e.persist();
  var target = e.target;

  while (target.tagName.toLowerCase() !== 'a') {
    target = target.parentNode;
  }

  var id = target.attributes.name.value;
  var formId = `reply-form-${id}`;
  var form = document.getElementById(formId);
  var textarea = document.querySelector(`#${formId} textarea`);

  if (form === null) {
    console.log(`can't find ${formId}`);
    return;
  }

  var state = form.style.display;

  if (state === 'block') {
    form.style.display = 'none';
    target.classList.remove('toggled-punctuation-button');
    target.classList.add('punctuation-button');
  } else {
    form.style.display = 'block';
    textarea.focus();
    target.classList.remove('punctuation-button');
    target.classList.add('toggled-punctuation-button');
  }
}

function submitReply(e, callback, reportError) {
  e.persist();
  var target = e.target;
  var offset = Number(target.attributes.offset.value);
  var paraId = Number(target.attributes.pid.value);
  var parent = target.parentNode;
  var textarea = parent.childNodes[1];
  var form = parent.parentNode;
  var linkName = form.attributes.id.value.replace('reply-form-', '');
  var matches = document.getElementsByName(linkName);
  var puncBtn = matches[0];
  var punctuation = encodeURIComponent(puncBtn.firstChild.innerText);
  var message = encodeURIComponent(textarea.value);
  var request = new XMLHttpRequest();
  var url = `/api/v1/messages/reply?paraId=${paraId}&offset=${offset}&message=${message}&punctuation=${punctuation}`;

  request.open(
    'GET',
    url,
    true
  );
  request.onload = function() {
    if (this.status >= 200 && this.status < 400) {
      var resp = this.response;

      form.style.display = 'none';
      puncBtn.classList.remove('toggled-punctuation-button');
      puncBtn.classList.add('punctuation-button');
      textarea.value = '';
      callback(reportError, resp);
    } else {
      reportError(this.response);
    }
  };

  request.onerror = function() {
    reportError('There was a connection error.');
  };

  request.send();
}
</script>

<p id="notice"><%= notice %></p>

<h2><%= @message.subject %></h2>

<h3>Category: <%= Category.find_by_id(@message.category_id).name %></h3>

<h4>Author: <%= User.find_by_id(@message.user_id).login %></h4>

<%= react_component 'Message', paragraphs: @paragraphs %>

<p class="intro-text">
  <%= link_to 'Edit', edit_message_path(@message) %> |
  <%= link_to 'Back', messages_path %>
</p>
