<p id="notice"><%= notice %></p>

<h2><%= @message.subject %></h2>

<h3>Category: <%= Category.find_by_id(@message.category_id).name %></h3>

<h4>Author: <%= User.find_by_id(@message.user_id).login %></h4>

<% @paragraphs.each do |para| %>
  <div class="msg-paragraph">
    <p class="msg-par-text">
      <%= raw para.content %>
    </p>
    <p class="msg-par-avatar">
      <% user = User.find_by_id(para.user_id) %>
      <%= link_to image_tag(avatar 100, user), '/' %>
      <br>
      <span class="id-time"><%= user.login %></span>
      <br>
      <span class="id-time"><%= para.created_at %></span>
    </p>
  </div>
<% end %>

<p class="intro-text">
  <%= link_to 'Edit', edit_message_path(@message) %> |
  <%= link_to 'Back', messages_path %>
</p>
