<p id="notice"><%= notice %></p>

<h2><%= @message.subject %></h2>

<h3>Category: <%= Category.find_by_id(@message.category_id).name %></h3>

<h4>Author: <%= User.find_by_id(@message.user_id).login %></h4>

<% @paragraphs.each do |para| %>
  <% user = User.find_by_id(para.user_id) %>
  <%= react_component 'Paragraph', {
    avatar: avatar(100, user),
    content: {
      __html: para.content
    },
    ts: para.created_at.to_formatted_s(:db),
    when: time_ago_in_words(para.created_at),
    who: user.login
  } %>
<% end %>

<p class="intro-text">
  <%= link_to 'Edit', edit_message_path(@message) %> |
  <%= link_to 'Back', messages_path %>
</p>
