<p id="notice"><%= notice %></p>

<h2><%= @message.subject %></h2>

<h3>Category: <%= Category.find_by_id(@message.category_id).name %></h3>

<h4>Author: <%= User.find_by_id(@message.user_id).login %></h4>

<% @paragraphs.each do |para| %>
  <p>
    <%= raw para.content %>
  </p>
<% end %>

<p class="intro-text">
  <%= link_to 'Edit', edit_message_path(@message) %> |
  <%= link_to 'Back', messages_path %>
</p>
