<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Name</th>
    <td><%= @category.name %></td>
  </tr>
  <tr>
    <th>Type</th>
    <td><%= @category.of %></td>
  <tr>
  <% if !@category.category_id.nil? %>
    <tr>
      <th>Parent</th>
      <td><%= link_to '->', '/categories/' + @category %></td>
    </tr>
  <% end %>
</table>

<% if @messages.count > 0 %>
  <h2>Messages</h1>

  <table>
    <thead>
      <tr>
        <th>Subject</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @messages.each do |message| %>
        <tr>
          <td>
            <b><%= link_to message.subject, message %><b>
          </td>
          <td class="avatar-column">
            <% user = User.find_by_id message.user_id %>
            <%= image_tag avatar(16, user), :alt => user.login, :title => user.login %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
